@inject HttpClient Http
@inject NavigationManager navigationManager
<NavLink href="CompletedJobs" class="col-xl-12">
    <!--begin::Stats Widget 29-->
    <div class="card card-custom bgi-no-repeat card-stretch gutter-b" style="background-position: right top; background-size: 30% auto; background-image: url(assets/media/svg/shapes/abstract-1.svg)">
        <!--begin::Body-->
        <div class="card-body">
            <span class="card-title font-weight-boldest text-dark font-size-h3-xl d-block">
                <b class="float-left">Completed Jobs</b>
                <b class="float-right">@Count</b>
            </span>
            <img class="mt-6 d-block" src="icons/job.png" height="32" />
            <br />
            <span class="font-weight-bold font-size-sm">Since last month</span>
        </div>
        <!--end::Body-->
    </div>
    <!--end::Stats Widget 29-->
</NavLink>
@code {
    public string Count { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await GetCount();
        if (firstRender)
        {
        }
        await base.OnAfterRenderAsync(firstRender);
    }
    public async Task GetCount()
    {
        Count = await Http.GetStringAsync("api/Jobs/All/Completed/SinceLastMonth");
        StateHasChanged();
    }
    public void Navigation()
    {
        navigationManager.ToAbsoluteUri("/CompletedJobs");
    }
}
